<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="vdbDao" class="domain.facade.VideoBeheer">
        <constructor-arg value="RELATIONAL"/>
    </bean>

    <bean id="pdbDao" class="domain.facade.PersonBeheer">
        <constructor-arg value="RELATIONAL"/>
    </bean>
</beans>